.App {
  position: relative;
  min-height: 900px;

  .header {
    height: 100px;
    background-color: red;
  }

  .main {
    height: 100px;
    background-color: blue;
  }

  .footer {
    display: block;
    margin-top: auto;
    height: 100px;
    background-color: green;
  }
}
