.App {
  font-size: large;

  .box-1 {
    height: 100px;
    width: 100px;
    background-color: red;
  }

  .box-2 {
    height: 100px;
    width: 100px;
    background-color: blue;
  }

  .box-3 {
    height: 100px;
    width: 100px;
    background-color: green;
  }
}
