.App {
  font-size: large;
}

.App .box-1 {
  height: 100px;
  width: 100px;
  background-color: red;
}

.App .box-2 {
  height: 100px;
  width: 100px;
  background-color: blue;
}

.App .box-3 {
  height: 100px;
  width: 100px;
  background-color: green;
}
